@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

/* Page background */
.createsaveddiv {
  background: linear-gradient(180deg, #526f9e 0%, #344a73 100%);
  overflow: auto;
  height: 100vh;
  padding-top: 44px;
  padding-bottom: 25px;
  font-family: "Nova Square", cursive;
}

/* Create Saved Button */
.createsavedbtn {
  background-color: #c0c0c0;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 12px;
  border-radius: 12px;
  font-family: "Nova Square", cursive;
}

.createsavedbtn:hover {
  background-color: #007bff;
  color: black;
}

/* Edit Saved Button */
.editsavedbtn {
  background-color: #c0c0c0;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 12px;
  border-radius: 12px;
  font-family: "Nova Square", cursive;
}

.editsavedbtn:hover {
  background-color: white;
  color: black;
}

/* Delete Saved Button */
.deletesavedbtn {
  background-color: #c0c0c0;
  color: black;
  margin-bottom: 2%;
  font-size: 12px;
  border-radius: 12px;
}

.deletesavedbtn:hover {
  background-color: white;
  color: black;
}

/* Create Saved Game */
.createsavedinput {
  text-align: center;
  background-color: #c0c0c0;
  margin-bottom: 10px;
  color: black;
  border-radius: 12px;
  font-family: "Nova Square", cursive;
}

.createsavedheader {
  margin-right: auto;
  margin-left: auto;
  font-family: "Orbitron", sans-serif;
}

.savedminecardaction {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.reivewminecardactions {
  display: flex;
  justify-content: center;
}

.myPosts {
  font-family: "Nova Square", cursive;
}

/* Saved Game Edit */
.editsavedheader {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

.editgameinput {
  text-align: center;
  background-color: #c0c0c0;
  margin-bottom: 10px;
  color: black;
  border-radius: 12px;
  font-family: "Nova Square", cursive;
}

.createsavedhead {
  margin-top: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}
